
body{
    font-family: 'Roboto', sans-serif;
}
.hide{
    display: none;
}

img{
    width: 50%;
    height: auto
}

.container{
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.font-size {
    position: relative;
    display: inline-block;
  }
  
.hero1{
    margin-bottom:10px
}

.dark-mode {
    background-color: black;
    color: white;
  }

  input[type=button] {
    border: white 2px solid;
    background-color: black;
    color: white;
    border-radius: 6px;
    padding:4px;
  }
.dark-button {
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    padding:4px;
  }